<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="elprisenLigeNuUrl" value="https://www.elprisenligenu.dk/api/v1/prices/"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.2;Initial Catalog=VaskeriDb;Persist Security Info=True;User ID=dbAdmin;Password=Kode1234!" />
  </connectionStrings>
</configuration>